<div class="bg-[#121212] p-2 rounded-lg shadow-md mt-2">
  <div class="flex justify-around h-[18em]">
    @for (subRoutine of routine.subRoutines; track $index) {
      <div
        class="flex flex-col gap-1 border-2 border-white pb-2 w-[45%] overflow-hidden"
      >
        <div
          class="flex items-center justify-center w-full bg-[#1565C0] backgroundTitle"
          [ngStyle]="{ 'background-color': backgroundColor }"
        > 
          <p class="text-2xl text-center font-bold text-white m-0">
            {{ subRoutine.name | uppercase }}
          </p>
        </div>
        <!-- Lista en 2 columnas -->
        <ul class="grid grid-cols-2 gap-2 px-4">
          @for (exercise of subRoutine.exercises; track $index) {
            <li
              #exerciseText
              class="text-sm font-bold text-white text-center slide-fade-effect opacity-0"
              [ngStyle]="{ 'animation-delay': getAnimationDelay($index) }"
            >
              {{ exercise.name }} - {{ exercise.series }} x {{ exercise.reps }}
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
