<section class="flex flex-col space-y-6 p-8">
  <span
    class="text-center w-full text-6xl tracking-tight font-semibold text-gray-900"
  >
    Horarios 🕒
  </span>
  @if (loading$ | async) {
    <app-loader></app-loader>
  } @else {
    <div>
      <div class="flex flex-col">
        @if (schedule) {
          @for (day of schedule; track $index) {
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="text-xl font-bold">
                      {{ day.day }}
                    </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-wrap gap-4">
                  @for (hour of day.hours; track $index) {
                    <app-card-schedule
                      [hour]="hour"
                      [day]="day"
                      class="flex-1 min-w-[250px] max-w-[300px]"
                      (edit)="editarHorario($event)"
                      (delete)="eliminarHorario($event)"
                    ></app-card-schedule>
                  }
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          }
        }
      </div>
    </div>
  }
</section>
