@if (clientInfo$ | async; as clientInfo) {
  @if (clientInfo && Object.keys(clientInfo).length > 0) {
    <div class="bg-white p-6 rounded-lg">
      <!-- Sección: Datos Personales -->
      <div>
        <span class="block text-xl font-bold text-gray-800 border-b pb-2">
          Datos Personales
        </span>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-6">
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Nombre</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.name
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Cédula de Identidad</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.CI
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Sexo</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.sex
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Día de Nacimiento</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.dateBirthday | date: "dd/MM/yyyy"
            }}</span>
          </div>
        </div>
      </div>

      <!-- Sección: Información de Contacto -->
      <div class="my-6">
        <span class="block text-xl font-bold text-gray-800 border-b pb-2">
          Información de Contacto
        </span>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-6">
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Email</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.identifier
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Celular</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.phone
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Dirección</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.address
            }}</span>
          </div>
        </div>
      </div>

      <!-- Sección: Información de Salud -->
      <div class="my-6">
        <span class="block text-xl font-bold text-gray-800 border-b pb-2">
          Información de Salud
        </span>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-6">
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm"
              >Frecuencia de Ejercicio Físico</span
            >
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.frequencyOfPhysicalExercise
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Sociedad Médica</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.medicalSociety
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Presión Arterial</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.bloodPressure
            }}</span>
          </div>
        </div>
      </div>

      <!-- Sección: Antecedentes -->
      <div class="my-6">
        <span class="block text-xl font-bold text-gray-800 border-b pb-2">
          Antecedentes
        </span>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-6">
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm"
              >Antecedentes Lesiones Patológicas</span
            >
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.historyofPathologicalLesions === "true" ? "Sí" : "No"
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Antecedentes Cardíacos</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.cardiacHistory === "true" ? "Sí" : "No"
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm">Antecedentes Quirúrgicos</span>
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.surgicalHistory === "true" ? "Sí" : "No"
            }}</span>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg flex flex-col">
            <span class="text-gray-500 text-sm"
              >Antecedentes Respiratorios</span
            >
            <span class="text-lg font-medium text-gray-800">{{
              clientInfo.respiratoryHistory === "true" ? "Sí" : "No"
            }}</span>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div
      class="bg-white p-6 rounded-lg shadow-lg max-w-4xl mx-auto my-6 flex justify-center items-center h-64"
    >
      <p class="text-lg font-bold text-gray-700">
        No hay información disponible
      </p>
    </div>
  }
} @else {
  <app-loader></app-loader>
}
