<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="border-t border-t-neutral-700 pt-6 cursor-pointer">
  <div
    class="flex items-center justify-between bg-neutral-900 rounded-sm p-4 w-full space-x-4 hover:bg-neutral-800 transition-colors"
    aria-label="Cerrar sesión"
    (click)="logOut()"
    (keyup.enter)="logOut()"
  >
    <div class="flex items-center space-x-3">
      <span class="text-white text-body-xl font-semibold">Cerrar sesión</span>
    </div>
    <i
      class="ph-sign-out text-white text-3xl hover:text-primary-400 transition-colors"
    ></i>
  </div>
</div>
