<div class="border-t border-t-neutral-700 pt-6">
  <div
    class="rounded-sm bg-neutral-900 p-4 inline-flex items-center space-x-2 w-full"
  >
    <!-- <img class="h-10 w-10 rounded-full bg-primary-400" src="" onerror="this.src='./assets/avatar.png'" /> -->
    <div>
      <span class="text-white line-clamp-1 text-body-xl">SteelParadise</span>
    </div>
    <div
      class="flex justify-between items-center space-x-2 w-full h-full hover:cursor-pointer"
    >
      <i class="ph-sign-out text-white text-3xl"></i>
    </div>
  </div>
</div>
