<div class="flex flex-col p-6 gap-6 text-center">
  <!-- Icon Section -->
  <div class="flex justify-center">
    <div
      class="w-16 h-16 bg-red-600 rounded-full flex items-center justify-center"
    >
      <i class="{{ data.icon || 'ph-question' }} text-white text-3xl"></i>
    </div>
  </div>

  <!-- Content Section -->
  <div class="space-y-4">
    <h2 mat-dialog-title class="text-2xl font-bold text-gray-800">
      {{ data.title }}
    </h2>
    <mat-dialog-content class="text-base text-gray-600 leading-relaxed">{{
      data.contentMessage
    }}</mat-dialog-content>
  </div>

  <!-- Actions Section -->
  <div class="flex justify-center space-x-4 pt-4">
    <button
      appBtn
      color="secondary"
      (click)="handleCancel()"
      class="px-6 py-2 min-w-[100px]"
    >
      Cancelar
    </button>
    <button
      appBtn
      class="bg-red-600 hover:bg-red-700 text-white px-6 py-2 min-w-[100px]"
      (click)="handleConfirm()"
    >
      {{ data.confirmButtonText || "Aceptar" }}
    </button>
  </div>
</div>
