<div
  class="p-4 rounded shadow mb-2 max-h-[90rem]"
  [ngClass]="getBackgroundClass(hour())"
>
  <div class="flex justify-between items-center">
    <p [ngClass]="getTextClass(hour())" class="font-semibold text-lg">
      {{ hour()?.startTime ?? "" | hourPipe }}
    </p>
    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
      <i class="ph-dots-three-vertical text-xl text-black-600"></i>
    </button>
  </div>

  <p [ngClass]="getTextClass(hour())" class="font-semibold">
    Máximo de clientes: {{ hour()?.maxCount }}
  </p>
  <p [ngClass]="getTextClass(hour())" class="font-semibold">
    Clientes registrados: {{ hour()?.clients?.length || 0 }}
  </p>
  <mat-menu #actionsMenu="matMenu">
    <button (click)="editarHorario(hour() ?? defaultHour, day())" mat-menu-item>
      <div class="flex items-center space-x-2">
        <i class="ph-pencil-simple text-button-lg"></i>
        <span>Editar</span>
      </div>
    </button>

    <button (click)="eliminarHorario(hour() ?? defaultHour)" mat-menu-item>
      <div class="flex items-center space-x-2">
        <i class="ph-x-circle-fill text-button-lg text-error-100"></i>
        <span class="text-error-100">Borrar</span>
      </div>
    </button>
  </mat-menu>
</div>
