<div [ngClass]="severityClass" class="snackbar-container w-full p-4 rounded-sm inline-flex justify-between items-start">
  <div class="inline-flex justify-start items-start space-x-2">
    <i class="text-xl" [ngClass]="icon"></i>
    <div class="space-y-1">
      <p class="text-body-xl">{{ data.title }}</p>
      <p class="text-body-sm">{{ data.message }}</p>
    </div>
  </div>
  <div>
    <button type="button" class="!p-0" (click)="close()">
      <i class="ph-x text-xl"></i>
    </button>
  </div>
</div>
