<div class="mat-elevation-z8 rounded-lg overflow-hidden shadow-lg">
  <div
    class="relative z-0 flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-2"
  >
    <div class="w-full md:w-1/2">
      <form class="flex items-center">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            type="text"
            id="ssearch"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Buscar ejercicio"
            (input)="searchExercises($event)"
            required=""
          />
        </div>
      </form>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="min-w-full bg-gray-100">
    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th
        *matHeaderCellDef
        class="px-6 py-4 bg-blue-700 text-white font-bold uppercase tracking-wider text-sm text-left"
      >
        Ejercicio
      </th>
      <td
        *matCellDef="let element"
        class="px-6 py-4 text-gray-800 hover:bg-blue-50 transition-colors duration-200"
      >
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Modo Column -->
    <ng-container matColumnDef="mode">
      <th
        *matHeaderCellDef
        class="px-6 py-4 bg-blue-700 text-white font-bold uppercase tracking-wider text-sm text-left"
      >
        Modalidad
      </th>
      <td
        *matCellDef="let element"
        class="px-6 py-4 text-gray-800 hover:bg-blue-50 transition-colors duration-200"
      >
        {{ element.mode }}
      </td>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="description">
      <th
        *matHeaderCellDef
        class="px-6 py-4 bg-blue-700 text-white font-bold uppercase tracking-wider text-sm text-left"
      >
        Descripción
      </th>
      <td
        *matCellDef="let element"
        class="px-6 py-4 text-gray-800 hover:bg-blue-50 transition-colors duration-200"
      >
        {{ element.description }}
      </td>
    </ng-container>

    <!-- Opciones Column -->
    <ng-container matColumnDef="options">
      <th
        *matHeaderCellDef
        class="px-6 py-4 bg-blue-700 text-white font-bold uppercase tracking-wider text-sm text-left"
      >
        Opciones
      </th>
      <td
        *matCellDef="let element"
        class="px-6 py-4 text-gray-800 hover:bg-blue-50 transition-colors duration-200"
      >
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Opciones"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editExercise(element)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="deleteExercise(element)">
            <mat-icon>delete</mat-icon>
            <span>Borrar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Definición de filas de encabezado y contenido -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="hover:bg-blue-100 transition-colors duration-200"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[8, 5]"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    class="bg-gray-200 px-4 py-2 border-t border-gray-300"
  >
  </mat-paginator>
</div>
