<section
  class="bg-gradient-to-br from-blue-50 to-cyan-100 min-h-screen py-10 px-4"
>
  <div class="max-w-7xl mx-auto">
    <div class="flex items-center justify-center mb-6">
      <span
        class="text-center text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-cyan-600 py-2 block"
      >
        DETALLE CLIENTE <span class="text-4xl">👤</span>
      </span>
    </div>

    <div class="bg-white rounded-xl shadow-xl overflow-hidden">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Información Cliente">
          <div class="p-4">
            <app-client-detail-info></app-client-detail-info>
          </div>
        </mat-tab>
        <mat-tab label="Rutina Cliente">
          <div class="p-4">
            <app-client-detail-routine></app-client-detail-routine>
          </div>
        </mat-tab>
        <mat-tab label="Plan Cliente">
          <div class="p-4">
            <app-client-detail-plan></app-client-detail-plan>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
