<div
  class="w-full overflow-hidden ring-1 ring-neutral-400 shadow-200 rounded-sm"
  [ngClass]="{ 'ring-1 ring-neutral-400': headerCssClass !== 'header-primary' }"
>
  <table
    class="w-full"
    cdk-table
    aria-describedby="table"
    [dataSource]="data || []"
  >
    <ng-container
      *ngFor="let column of displayedColumns"
      [cdkColumnDef]="column"
    >
      <th cdk-header-cell *cdkHeaderCellDef [ngClass]="headerCssClass">
        {{ column | translation | camelToTitle }}
      </th>
      <td cdk-cell *cdkCellDef="let element">
        <ng-container *ngIf="column === 'type'">
          <app-badge
            [colorBadge]="element[column] === 'room' ? EColorBadge.SUCCESS : EColorBadge.ERROR"
            [textBadge]="element[column] === 'room' ? 'Sala' : 'Cardio'"
          ></app-badge>
        </ng-container>

        <ng-container
          *ngIf="column !== 'isActive' && column !== 'type' && column !== 'createdAt' && column !== 'updatedAt'"
        >
          {{ element[column] }}
        </ng-container>

        <ng-container *ngIf="column === 'createdAt' || column === 'updatedAt'">
          {{ element[column] | date:"d MMM y, h:mm a" }}
        </ng-container>

        <ng-container *ngIf="column === 'acciones'">
          <!-- Actions menu -->

          <button
            title="actions"
            type="button"
            [matMenuTriggerFor]="actionsMenu"
          >
            <i
              class="ph-dots-three-vertical-fill text-neutral-700 text-3xl"
            ></i>
          </button>
          <mat-menu #actionsMenu="matMenu" class="w-fit">
            <ng-template matMenuContent>
              <button
                (click)="emitEdit(element._id)"
                type="button"
                class="group"
                mat-menu-item
              >
                <div class="flex flex-row items-center space-x-2">
                  <i class="ph-pencil-simple text-button-lg"></i>
                  <span class="group-hover:text-ms-gray-900">Editar</span>
                </div>
              </button>

              <button
                (click)="emitDelete(element._id)"
                type="button"
                class="group"
                mat-menu-item
              >
                <div class="flex flex-row items-center space-x-2">
                  <i
                    class="ph-x-circle-fill text-button-lg text-error-100 group-hover:text-error-200"
                  ></i>
                  <span class="text-error-100 group-hover:text-error-200"
                    >Borrar</span
                  >
                </div>
              </button>
            </ng-template>
          </mat-menu>
        </ng-container>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell h-[30vh]" [attr.colspan]="displayedColumns.length">
        <ng-container *ngIf="loading">
          <app-loader [text]="'Cargando...'"></app-loader>
        </ng-container>
        <ng-container *ngIf="!loading && total === 0 && filteredData">
          <div
            class="flex flex-col text-center justify-center items-center space-y-4"
          >
            <span>No results found. Please try again</span>
          </div>
        </ng-container>
        <ng-container *ngIf="!loading && total === 0 && !filteredData">
          <div
            class="flex flex-col text-center justify-center items-center space-y-4"
          >
            <span>No hay elementos para mostrar 😢</span>
          </div>
        </ng-container>
      </td>
    </tr>
  </table>
  <ng-content></ng-content>
</div>
