<section class="flex flex-col space-y-6 w-4/5 mx-auto">
  <span
    class="text-center w-full text-6xl tracking-tight font-semibold text-gray-900 my-4"
  >
    Clientes 📝
  </span>
  <div class="md:flex-row lg:flex flex-row justify-between items-center">
    <app-filter-bar (formValues)="onSearch($event)">
      <app-filter-select
        [placeholder]="'Selecciona un filtro'"
        [control]="filterControl"
        (valueSelected)="onValueChange($event)"
      ></app-filter-select>
    </app-filter-bar>
    <button class="btn-primary button-link" (click)="createClient()">
      <i class="ph-plus text-white text-lg"></i> <span>Crear Cliente</span>
    </button>
  </div>

  <app-table
    [displayedColumns]="displayedColumns"
    [data]="clients | async"
    [total]="total | async"
    [loading]="loading | async"
    (edit)="editClient($event)"
    (disabled)="toggleDisabledClient($event, $event.disabled)"
    (seeDetail)="seeDetailClient($event)"
    [showSeeDetail]="true"
    [showDisabled]="true"
    [showDelete]="false"
  >
    <mat-paginator
      appJumpPages
      class="border-t rounded-b-md"
      [length]="total | async"
      [pageSize]="pageSize"
      (page)="paginate($event)"
    >
    </mat-paginator>
  </app-table>
</section>
