<form class="example-form">
  <mat-form-field class="example-full-width" [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [type]="
        isPasswordField ? (isPasswordVisible ? 'text' : 'password') : type
      "
      [formControl]="control"
      [errorStateMatcher]="matcher"
      [placeholder]="placeholder"
      (input)="onInputChange($event)"
      class="shadow-none"
      />
    @if (isPasswordField) {
      <button
        mat-icon-button
        matSuffix
        type="button"
        class="mr-2"
        (click)="togglePasswordVisibility()"
        >
        @if (!isPasswordVisible) {
          <i class="ph-eye text-xl"></i>
        }
        @if (isPasswordVisible) {
          <i class="ph-eye-slash text-xl"></i>
        }
      </button>
    }
    <mat-error>
      @if (control.errors) {
        {{ control.errors | validationErrors: errorMessages?.[errorKey] }}
      }
    </mat-error>
  </mat-form-field>
</form>
