<div class="p-4 bg-white shadow-md rounded">
  <app-title [title]="title"></app-title>
  <form [formGroup]="editForm" class="space-y-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <app-input
          [control]="maxCountControl"
          label="Cantidad Máxima"
          type="number"
          errorKey="maxCount"
          placeholder="Cantidad Máxima"
          appearance="outline"
        ></app-input>
      </div>
      <div class="">
        <button
          appBtn
          color="primary"
          type="button"
          (click)="editCount()"
          [loader]="(loading$ | async)!"
          [animate]="true"
          [disabled]="editForm.invalid || (loading$ | async)"
          class="h-10"
        >
          Editar Cantidad
        </button>
      </div>
    </div>

    <div>
      <h2 class="block text-sm font-medium text-gray-700">Clientes</h2>
      <div class="space-y-2">
        @if (clients$ | async) {
          @for (client of clients$ | async; track $index) {
            <div class="flex items-center space-x-2">
              <span>
                {{ client.email }}
              </span>
              <button
                type="button"
                class="text-red-500 hover:text-red-700"
                (click)="removeClient(client._id)"
              >
                Eliminar
              </button>
            </div>
          }
        } @else {
          <p>No hay clientes seleccionados</p>
        }
      </div>
      <button appBtn type="button" color="primary" (click)="addClient()">
        Seleccionar Cliente
      </button>
    </div>
    <div class="flex justify-center">
      <button appBtn color="destructive" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
