<div
  class="mx-auto space-y-10 w-full max-w-md p-8 bg-white shadow-lg rounded-lg"
>
  <div class="space-y-4">
    <h1 class="text-center text-2xl font-bold text-neutral-900">+ FIT</h1>
    <p class="text-lg text-center text-neutral-700">Recuperar contraseña</p>
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="recoveryPassword()"
    class="space-y-10"
  >
    <div class="space-y-6">
      <input
        appInput
        type="text"
        label="Email"
        placeholder="Ingresa tu email"
        formControlName="email"
      />
    </div>

    @if (showMessageConfirmation) {
      <div class="w-full text-center mt-6">
        <p class="text-neutral-700 text-lg">
          Si tu correo pertenece a una cuenta, recibirás un email a la brevedad
          para que puedas recuperar tu contraseña.
        </p>
      </div>
    }

    <div class="flex flex-col items-center space-y-4">
      <button
        appBtn
        class="w-full btn-primary"
        type="submit"
        [loader]="(loading$ | async)!"
        [animate]="true"
        [disabled]="
          loginForm.invalid || (loading$ | async) || showMessageConfirmation
        "
      >
        <span>
          {{
            loading$ | async | conditionalText: "Cargando..." : "Recuperar"
          }}</span
        >
      </button>

      <button
        appBtn
        class="w-full btn-secondary"
        type="button"
        (click)="goBack()"
      >
        Volver
      </button>
    </div>
  </form>
</div>
