@if (clientRoutine$ | async) {
  <div class="bg-white p-6 rounded-lg shadow-md">
    <span class="text-3xl font-bold mb-4 text-black flex justify-center">
      Rutina del Cliente
    </span>

    <div class="mb-4 p-4 bg-gray-100 rounded-lg">
      <p class="text-lg font-semibold text-gray-700">
        Nombre:
        <span class="font-normal">{{ (clientRoutine$ | async).name }}</span>
      </p>
      <p class="text-lg font-semibold text-gray-700">
        Descripción:
        <span class="font-normal">{{
          (clientRoutine$ | async).description
        }}</span>
      </p>
      <p class="text-lg font-semibold text-gray-700">
        Personalizada:
        <span class="font-normal">{{
          (clientRoutine$ | async).isCustom ? "Sí" : "No"
        }}</span>
      </p>
    </div>

    <span class="text-3xl font-bold mb-4 text-black flex justify-center">
      Subrutinas
    </span>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (subRoutine of (clientRoutine$ | async).subRoutines; track $index) {
        <div
          class="bg-white shadow-md rounded-lg p-4 border-2 border-gray-200 flex flex-col"
        >
          <!-- Sección superior (flex-1 para empujar hacia abajo la sección de ejercicios) -->
          <div class="flex-1">
            <span
              class="text-xl font-bold text-gray-800 flex justify-center mb-3"
            >
              Subrutina {{ $index + 1 }}
            </span>
            <p class="text-sm font-semibold text-gray-600">
              Nombre: <span class="font-medium">{{ subRoutine.name }}</span>
            </p>
            <p class="text-sm font-semibold text-gray-700">
              Descripción:
              <span class="font-normal">
                {{
                  showFullDescription[$index]
                    ? subRoutine.description
                    : subRoutine.description.slice(0, 100) + "..."
                }}
              </span>
              @if (subRoutine.description.length > 100) {
                <button
                  (click)="toggleDescription($index)"
                  class="text-blue-500 hover:underline text-xs inline"
                  style="white-space: pre-line"
                >
                  {{ showFullDescription[$index] ? "Ver menos" : "Ver más" }}
                </button>
              }
            </p>

            <p class="text-sm font-semibold text-gray-600">
              Personalizada:
              <span class="font-medium">{{
                subRoutine.isCustom ? "Sí" : "No"
              }}</span>
            </p>
            <p class="text-sm font-semibold text-gray-600">
              Categoría:
              <span class="font-medium">{{
                subRoutine.category | translation
              }}</span>
            </p>
          </div>

          <!-- Sección de ejercicios con altura máxima controlada -->
          <div class="">
            <span
              class="text-lg font-bold text-gray-800 flex justify-center mb-3"
            >
              Ejercicios
            </span>
            <div
              class="max-h-96 overflow-y-auto bg-gray-50 p-2 rounded-lg space-y-2"
            >
              @for (exercise of subRoutine.exercises; track $index) {
                <p class="text-sm text-gray-800 font-semibold">
                  Ejercicio {{ $index + 1 }}
                </p>
                <div
                  class="bg-gray-100 p-3 rounded-lg shadow-sm grid grid-cols-2 gap-4"
                >
                  <div class="flex flex-col h-full">
                    <p class="text-sm font-semibold text-gray-600">
                      Nombre:
                      <span class="font-medium">{{ exercise.name }}</span>
                    </p>
                    <p class="text-sm font-semibold text-gray-600">
                      Tipo:
                      <span class="font-medium">{{
                        exercise.type | translation
                      }}</span>
                    </p>
                  </div>

                  <div class="flex flex-col self-start">
                    @if (exercise.type === "room") {
                      <p class="text-sm font-semibold text-gray-600">
                        Series:
                        <span class="font-medium">{{ exercise.series }}</span>
                      </p>
                      <p class="text-sm font-semibold text-gray-600">
                        Repeticiones:
                        <span class="font-medium">{{ exercise.reps }}</span>
                      </p>
                    } @else if (exercise.type === "cardio") {
                      <p class="text-sm font-semibold text-gray-600">
                        Minutos:
                        <span class="font-medium"
                          >{{ exercise.minutes }} min.</span
                        >
                      </p>
                    }
                    <p class="text-sm font-semibold text-gray-600">
                      Descanso:
                      <span class="font-medium">{{ exercise.rest }} seg.</span>
                    </p>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <app-loader></app-loader>
}
