@if (clientRoutine$ | async; as clientRoutine) {
  @if (clientRoutine && Object.keys(clientRoutine).length > 0) {
    <div class="bg-white p-8 max-w-7xl mx-auto">
      <div class="py-2 border-b border-gray-200 mb-4">
        <span class="text-3xl font-bold text-gray-900">
          <i class="ph-dumbbell-bold text-gray-900 text-2xl mr-2"></i>
          Rutina del Cliente
        </span>
      </div>

      <div class="mb-10 p-8 bg-gray-50 rounded-lg border border-gray-300">
        <p class="text-lg font-semibold text-gray-800 mb-3 flex items-center">
          <i class="ph-user-bold text-gray-800 text-xl mr-2"></i>
          Nombre:
          <span class="font-normal text-gray-700 ml-2">{{
            clientRoutine.name
          }}</span>
        </p>
        <p class="text-lg font-semibold text-gray-800 mb-3 flex items-center">
          <i class="ph-note-pencil text-gray-800 text-xl mr-2"></i>
          Descripción:
          <span class="font-normal text-gray-700 ml-2">{{
            clientRoutine.description
          }}</span>
        </p>
        <p class="text-lg font-semibold text-gray-800 flex items-center">
          <i class="ph-check-circle-bold text-gray-800 text-xl mr-2"></i>
          Personalizada:
          <span class="font-normal text-gray-700 ml-2">
            {{ clientRoutine.isCustom ? "Sí" : "No" }}
          </span>
        </p>
      </div>

      <span class="text-3xl font-bold text-gray-900 mb-8">
        <i class="ph-list-bold text-gray-900 text-2xl mr-2"></i>
        Subrutinas
      </span>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mt-4">
        @for (
          subRoutine of clientRoutine.subRoutines;
          track subRoutine.id;
          let i = $index
        ) {
          <div
            class="bg-white shadow-sm rounded-lg p-8 border border-gray-200 flex flex-col"
          >
            <!-- Sección superior -->
            <div class="flex-1 mb-6">
              <span class="text-2xl font-bold text-gray-800 mb-4 flex py-4">
                <div>
                  <i class="ph-clipboard-bold text-gray-800 text-xl mr-2"></i>
                  Subrutina {{ i + 1 }}
                </div>
              </span>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
                <p
                  class="text-sm font-semibold text-gray-700 mb-2 flex items-center"
                >
                  <i class="ph-user-circle-bold text-gray-700 text-lg mr-1"></i>
                  Nombre:
                  <span class="font-medium text-gray-800 ml-1">{{
                    subRoutine.name
                  }}</span>
                </p>
                <p
                  class="text-sm font-semibold text-gray-700 mb-2 flex items-center"
                >
                  <i class="ph-note-pencil text-gray-700 text-lg mr-1"></i>
                  Descripción:
                  <span class="font-normal text-gray-800 ml-1">
                    {{
                      showFullDescription[i]
                        ? subRoutine.description
                        : subRoutine.description.slice(0, 100) + "..."
                    }}
                  </span>
                  @if (subRoutine.description.length > 100) {
                    <button
                      (click)="toggleDescription(i)"
                      class="text-blue-600 hover:underline text-xs ml-2"
                      style="white-space: pre-line"
                    >
                      {{ showFullDescription[i] ? "Ver menos" : "Ver más" }}
                    </button>
                  }
                </p>
                <p
                  class="text-sm font-semibold text-gray-700 mb-2 flex items-center"
                >
                  <i class="ph-heart-bold text-gray-700 text-lg mr-1"></i>
                  Personalizada:
                  <span class="font-medium text-gray-800 ml-1">
                    {{ subRoutine.isCustom ? "Sí" : "No" }}
                  </span>
                </p>
                <p
                  class="text-sm font-semibold text-gray-700 flex items-center"
                >
                  <i class="ph-tag-bold text-gray-700 text-lg mr-1"></i>
                  Categoría:
                  <span class="font-medium text-gray-800 ml-1">
                    {{ subRoutine.category | translation }}
                  </span>
                </p>
              </div>
            </div>

            <!-- Sección de ejercicios -->
            <div>
              <span class="block text-lg font-bold text-gray-800 mb-4">
                <i class="ph-activity-bold text-gray-800 text-xl mr-2"></i>
                Ejercicios
              </span>
              <div
                class="max-h-80 overflow-y-auto bg-gray-50 p-4 rounded-lg space-y-4"
              >
                @for (
                  exercise of subRoutine.exercises;
                  track exercise;
                  let j = $index
                ) {
                  <div>
                    <p
                      class="text-base text-gray-500 font-semibold flex items-center"
                    >
                      <i
                        class="ph-person-simple-walk text-gray-800 text-lg mr-1"
                      ></i>
                      Ejercicio {{ j + 1 }}
                    </p>
                    <div
                      class="bg-gray-100 rounded-md shadow-sm p-4 flex justify-between"
                    >
                      <div class="flex flex-col">
                        <p
                          class="text-sm font-semibold text-gray-700 flex items-center"
                        >
                          <i
                            class="ph-user-circle-bold text-gray-700 text-lg mr-1"
                          ></i>
                          Nombre:
                          <span class="font-medium text-gray-500 ml-1">{{
                            exercise.name
                          }}</span>
                        </p>
                        <p
                          class="text-sm font-semibold text-gray-700 flex items-center"
                        >
                          <i
                            class="ph-lightning text-gray-700 text-lg mr-1"
                          ></i>
                          Tipo:
                          <span class="font-medium text-gray-500 ml-1">
                            {{ exercise.type | translation }}
                          </span>
                        </p>
                      </div>
                      <div class="flex flex-col">
                        @if (exercise.type === "room") {
                          <p
                            class="text-sm font-semibold text-gray-700 flex items-center"
                          >
                            <i
                              class="ph-barbell-bold text-gray-700 text-lg mr-1"
                            ></i>
                            Series:
                            <span class="font-medium text-gray-500 ml-1">{{
                              exercise.series
                            }}</span>
                          </p>
                          <p
                            class="text-sm font-semibold text-gray-700 flex items-center"
                          >
                            <i
                              class="ph-repeat-bold text-gray-700 text-lg mr-1"
                            ></i>
                            Repeticiones:
                            <span class="font-medium text-gray-500 ml-1">{{
                              exercise.reps
                            }}</span>
                          </p>
                        } @else if (exercise.type === "cardio") {
                          <p
                            class="text-sm font-semibold text-gray-700 flex items-center"
                          >
                            <i
                              class="ph-clock-bold text-gray-700 text-lg mr-1"
                            ></i>
                            Minutos:
                            <span class="font-medium text-gray-500 ml-1"
                              >{{ exercise.minutes }} min.</span
                            >
                          </p>
                        }
                        <p
                          class="text-sm font-semibold text-gray-700 flex items-center"
                        >
                          <i class="ph-bed-bold text-gray-700 text-lg mr-1"></i>
                          Descanso:
                          <span class="font-medium text-gray-500 ml-1"
                            >{{ exercise.rest }} seg.</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  } @else {
    <div
      class="bg-white p-8 max-w-6xl mx-auto flex justify-center items-center h-64 my-8"
    >
      <p class="text-2xl font-bold text-gray-800">
        No hay información disponible
      </p>
    </div>
  }
} @else {
  <app-loader></app-loader>
}
