<div class="flex flex-col space-y-6 h-full">
  <div class="flex-shrink-0">
    <!-- <img title="logo" class="h-16 w-full" src="./assets/logo/logo-letra-prueba.png" [alt]="appName" /> -->
  </div>
  <div class="hidden md:block">
    <div class="flex flex-col space-y-2">
      <a
        routerLink="usuarios"
        routerLinkActive="nav-item-selected"
        class="nav-item"
        ><i class="ph-buildings-light text-white text-xl"></i>
        <span> Usuarios</span></a
      >
      <!--   <a routerLink="users" routerLinkActive="nav-item-selected" class="nav-item"
        ><i class="ph-users-four text-white text-xl"></i> <span> Users</span></a
      > -->
      <a
        routerLink="/settings"
        routerLinkActive="nav-item-selected"
        class="nav-item"
        ><i class="ph-gear-light text-white text-xl"></i
        ><span> Settings</span></a
      >
      <a
        routerLink="panel"
        routerLinkActive="nav-item-selected"
        class="nav-item"
        ><i class="ph-gear-light text-white text-xl"></i><span> Panel</span></a
      >
    </div>
  </div>
</div>
