@if (clientPlan$ | async) {
  <div
    class="bg-white p-6 rounded-lg shadow-lg border border-gray-200 max-w-5xl mx-auto space-y-6"
  >
    <span class="text-2xl font-bold text-gray-900 flex justify-center">
      📋 Plan del Cliente
    </span>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
        <p class="text-lg font-semibold text-gray-700 gap-2">
          🏷️ Nombre:
          <span class="font-normal">{{ (clientPlan$ | async).name }}.</span>
        </p>
        <p class="text-lg font-semibold text-gray-700 gap-2">
          📝 Objetivo:
          <span class="font-normal"
            >{{ (clientPlan$ | async).goal | translation }}.</span
          >
        </p>
      </div>

      <div class="bg-gray-100 p-4 rounded-lg shadow-sm gap-2">
        <p class="text-lg font-semibold text-gray-700">
          ⏳ Edad minima:
          <span class="font-normal"
            >{{ (clientPlan$ | async).minAge }} años.</span
          >
        </p>

        <p class="text-lg font-semibold text-gray-700">
          ⏳ Edad máxima:
          <span class="font-normal"
            >{{ (clientPlan$ | async).maxAge }} años.</span
          >
        </p>
      </div>

      <div class="bg-gray-100 p-4 rounded-lg shadow-sm gap-2">
        <p class="text-lg font-semibold text-gray-700">
          ⚡ Tipo:
          <span class="font-normal"
            >{{ (clientPlan$ | async).type | translation }}.</span
          >
        </p>
        <p class="text-lg font-semibold text-gray-700">
          🏋️ Categoría:
          <span class="font-normal"
            >{{ (clientPlan$ | async).category | translation }}.
          </span>
        </p>
      </div>

      <div class="bg-gray-100 p-4 rounded-lg shadow-sm gap-2">
        <p class="text-lg font-semibold text-gray-700">
          📅 Días
          <span class="font-normal"
            >{{ (clientPlan$ | async).days }} días.
          </span>
        </p>

        <p class="text-lg font-semibold text-gray-700">
          📈 Experiencia:
          <span class="font-normal">
            {{ (clientPlan$ | async).experienceLevel | translation }}.</span
          >
        </p>
      </div>

      <div
        class="col-span-1 md:col-span-2 bg-gray-200 p-4 rounded-lg shadow-sm text-center"
      >
        <p
          class="text-lg font-semibold text-gray-700 flex items-center justify-center gap-2"
        >
          🏋️‍♂️ Entrenador:
          <span
            class="font-bold"
            :class="(clientPlan$ | async).includesCoach ? 'text-green-600' : 'text-red-500'"
          >
            {{ (clientPlan$ | async).includesCoach ? "✅ Sí" : "❌ No" }}
          </span>
        </p>
      </div>
    </div>
  </div>
} @else {
  <app-loader></app-loader>
}
