<form
  [formGroup]="clientForm"
  (ngSubmit)="registerClient()"
  class="p-6 bg-gray-100 rounded-lg shadow-2xl w-[60rem] mx-auto"
>
  <div class="mb-8">
    <span class="text-xl font-bold text-gray-800 border-b pb-2">
      Información de Usuario
    </span>
    <div class="flex gap-4 mt-4">
      <app-input
        [control]="identifierControl"
        label="Email"
        type="text"
        errorKey="email"
        placeholder="Email"
        appearance="outline"
        class="w-full"
      ></app-input>

      <div class="flex flex-col w-full">
        <app-input
          [control]="passwordControl"
          label="Contraseña"
          type="password"
          errorKey="password"
          placeholder="Contraseña"
          appearance="outline"
          class="w-full"
          [isPasswordField]="true"
        ></app-input>
        <span class="text-xs mt-[-1rem] px-1">
          La contraseña debe tener al menos 8 caracteres, una letra mayúscula,
          una letra minúscula, un número y un caracter especial.
        </span>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <span class="text-xl font-bold text-gray-800 border-b pb-2">
      Datos Personales
    </span>
    <div class="flex gap-4 mt-4">
      <app-input
        [control]="nameControl"
        label="Nombre Completo"
        type="text"
        errorKey="name"
        placeholder="Nombre Completo"
        appearance="outline"
        class="w-full"
      ></app-input>

      <app-input
        [control]="addressControl"
        label="Dirección"
        type="text"
        errorKey="address"
        placeholder="Dirección"
        appearance="outline"
        class="w-full"
      ></app-input>
    </div>
    <div class="flex gap-4 mt-4">
      <app-input
        [control]="phoneControl"
        label="Teléfono"
        type="text"
        errorKey="phone"
        placeholder="Teléfono"
        appearance="outline"
        class="w-full"
      ></app-input>

      <app-input
        [control]="medicalSocietyControl"
        label="Sociedad Médica"
        type="text"
        errorKey="medicalSociety"
        placeholder="Sociedad Médica"
        appearance="outline"
        class="w-full"
      ></app-input>
    </div>
    <div class="flex gap-4 mt-4">
      <div class="w-1/2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input
            matInput
            formControlName="dateBirthday"
            [matDatepicker]="picker"
            class="w-full"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="w-1/2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sex">
            @for (sex of sexs; track sexs) {
              <mat-option [value]="sex.value">{{ sex.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <span class="text-xl font-bold text-gray-800 border-b pb-2">
      Información de Salud
    </span>
    <div class="flex gap-4 mt-4">
      <div class="w-1/2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Presión Arterial</mat-label>
          <mat-select formControlName="bloodPressure">
            @for (blood of bloodPressures; track bloodPressures) {
              <mat-option [value]="blood.value">{{
                blood.viewValue
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="w-1/2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Frecuencia de Ejercicio Físico</mat-label>
          <mat-select formControlName="frequencyOfPhysicalExercise">
            @for (
              frecuencyExercise of frequencyOfPhysicalExercise;
              track frequencyOfPhysicalExercise
            ) {
              <mat-option [value]="frecuencyExercise.value">{{
                frecuencyExercise.viewValue
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <span class="text-xl font-bold text-gray-800 border-b pb-2">
      Plan y Cédula de Identidad
    </span>
    <div class="flex gap-4 mt-4">
      <div class="w-1/2">
        <app-autocomplete
          [control]="planControl"
          placeholder="Buscar Plan"
          [action]="action"
          [selector]="selector"
          propertyToDisplay="name"
          (itemSelected)="onPlanSelected($event)"
          [initialValue]="selectedPlan"
        ></app-autocomplete>
      </div>

      <div class="w-1/2">
        <app-input
          [control]="CIControl"
          label="Cédula de Identidad"
          type="number"
          errorKey="CI"
          placeholder="Cédula de Identidad"
          appearance="outline"
          class="w-full"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <span class="text-xl font-bold text-gray-800 border-b pb-2">
      Antecedentes
    </span>
    <div class="flex flex-wrap gap-4 mt-4">
      <div class="flex-1">
        <mat-radio-group
          formControlName="respiratoryHistory"
          aria-label="Respiratorios"
          class="flex flex-col gap-2"
        >
          <mat-label class="font-semibold text-center">Respiratorios</mat-label>
          <div class="flex gap-4 min-w-40">
            <mat-radio-button value="true">Sí</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>

      <div class="flex-1">
        <mat-radio-group
          formControlName="cardiacHistory"
          aria-label="Cardiacos"
          class="flex flex-col gap-2"
        >
          <mat-label class="font-semibold text-center">Cardiacos</mat-label>
          <div class="flex gap-4 min-w-40">
            <mat-radio-button value="true">Sí</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>

      <div class="flex-1">
        <mat-radio-group
          formControlName="surgicalHistory"
          aria-label="Quirúrgicos"
          class="flex flex-col gap-2"
        >
          <mat-label class="font-semibold text-center">Quirúrgicos</mat-label>
          <div class="flex gap-4 min-w-40">
            <mat-radio-button value="true">Sí</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <div class="flex-1">
        <mat-radio-group
          formControlName="historyofPathologicalLesions"
          aria-label="Lesiones Patológicas"
          class="flex flex-col gap-2"
        >
          <mat-label class="font-semibold text-center"
            >Lesiones Patológicas</mat-label
          >
          <div class="flex gap-4 min-w-40">
            <mat-radio-button value="true">Sí</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="flex justify-around mt-4">
    <button appBtn class="btn-secondary" (click)="cancel()">Cancelar</button>
    <button
      appBtn
      [disabled]="clientForm.invalid || (loadingClient$ | async)"
      [animate]="true"
      [loader]="(loadingClient$ | async)!"
      type="submit"
      class="btn-primary"
    >
      Enviar
    </button>
  </div>
</form>
