<div class="p-6">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">{{ title }}</h2>

  <!-- Loading Indicator -->
  @if (loading$ | async) {
    <app-loader></app-loader>
  } @else {
    <!-- Form Content -->
    <mat-dialog-content>
      <form [formGroup]="subRoutineForm" class="space-y-4" (ngSubmit)="save()">
        <!-- SubRoutine Fields -->
        <div class="flex gap-4">
          <div class="w-full md:w-1/2">
            <input
              appInput
              label="Nombre"
              type="text"
              id="name"
              formControlName="name"
              class="mt-1 w-full border border-gray-300 rounded-md p-2 focus:border-primary-500 focus:ring-primary-500"
              placeholder="Nombre de la Sub-Rutina"
            />
          </div>

          <div class="w-full md:w-1/2">
            <input
              appInput
              label="Personalizada"
              type="text"
              id="isCustom"
              formControlName="isCustom"
              class="mt-1 w-full border border-gray-300 rounded-md p-2 focus:border-primary-500 focus:ring-primary-500"
              placeholder="Es personalizada"
              [disabled]="true"
            />
          </div>
        </div>

        <!-- Current Exercises Section -->
        <div>
          <h3 class="text-lg font-semibold text-gray-800 mb-4">Ejercicios actuales</h3>

          <app-table
            [data]="selectedExercises"
            [total]="selectedExercises.length"
            [loading]="false"
            [displayedColumns]="['name', 'type', 'description']"
            (delete)="removeExercise($event)"
          ></app-table>
          <button
            appBtn
            color="primary"
            (click)="openAddExerciseDialog()"
            class="mt-4"
          >
            Agregar Ejercicio
          </button>
        </div>
      </form>
    </mat-dialog-content>
  }

  <!-- Action Buttons -->
  <div class="flex justify-end space-x-2 mt-4">
    <button appBtn color="secondary" (click)="goBack()">Volver</button>
    <button
      appBtn
      color="primary"
      [loader]="(loading$ | async)!"
      [animate]="true"
      (click)="save()"
      type="button"
      [disabled]="subRoutineForm.invalid || (loading$ | async)"
    >
      {{ btnTitle }}
    </button>
  </div>
</div>
