<div class="p-6 w-3/4 mx-auto flex flex-col space-y-6">
  <span class="text-center text-6xl font-semibold text-gray-800 mb-8"
    >{{ title }} 📝</span
  >
  <!-- Loading Indicator -->
  @if (loading$ | async) {
    <app-loader></app-loader>
  } @else {
    <div class="bg-white rounded-lg shadow-md p-8">
      <!-- Form Content -->
      <form [formGroup]="subRoutineForm" class="space-y-4">
        <app-title [title]="'Información general'"></app-title>
        <!-- SubRoutine Fields -->
        <div class="flex pt-8 gap-4">
          <div class="w-full md:w-1/2">
            <app-input
              [control]="nameControl"
              label="Nombre"
              type="text"
              errorKey="name"
              placeholder="Nombre de la Sub-Rutina"
              appearance="outline"
            ></app-input>
          </div>

          <div class="w-full md:w-1/2 h-40">
            <app-text-area
              [control]="descriptionControl"
              label="Descripción"
              errorKey="description"
              placeholder="Descripción del ejercicio"
              [maxHeight]="100"
              appearance="outline"
            ></app-text-area>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let c of categories" [value]="c.value">
                {{ c.viewValue | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Current Exercises Section -->
        <div>
          <div class="flex justify-between mb-4 align-bottom">
            <app-title [title]="'Ejercicios'" [divider]="false"></app-title>
            <button
              appBtn
              color="primary"
              type="button"
              (click)="openAddExerciseDialog()"
              class=""
            >
              Agregar Ejercicio
            </button>
          </div>
          <mat-divider></mat-divider>
          <div class="mt-8">
            <app-drag-and-drop-sorting
              [list]="selectedExercises"
              (listEmitter)="handleList($event)"
            ></app-drag-and-drop-sorting>
          </div>

          <!-- <app-table
            [data]="selectedExercises"
            [total]="selectedExercises.length"
            [loading]="false"
            [displayedColumns]="['name', 'type', 'description']"
            (delete)="removeExercise($event)"
          ></app-table> -->
        </div>
      </form>
      <!-- Action Buttons -->
      <div class="flex justify-end space-x-2 mt-8">
        <button appBtn class="btn-secondary" (click)="goBack()">Volver</button>
        <button
          appBtn
          color="primary"
          [loader]="(loading$ | async)!"
          [animate]="true"
          (click)="save()"
          type="button"
          [disabled]="subRoutineForm.invalid || (loading$ | async)"
        >
          {{ btnTitle }}
        </button>
      </div>
    </div>
  }
</div>
