<div class="flex flex-col space-y-6">
  <span class="text-center text-6xl font-semibold text-gray-800 mb-8"
    >{{ title }} 📝</span
  >
  <div class="bg-white rounded-lg shadow-md p-8">
    @if (loading$ | async) {
      <app-loader></app-loader>
    } @else {
      <form [formGroup]="routineForm" class="space-y-8" (ngSubmit)="save()">
        <app-title [title]="'Información general'"></app-title>
        <div class="flex flex-col justify-around mt-4">
          <div class="flex gap-4">
            <div class="w-full md:w-1/2">
              <app-input
                [control]="nameControl"
                label="Nombre"
                type="text"
                errorKey="name"
                placeholder="Nombre de la rutina"
                appearance="outline"
              ></app-input>
            </div>

            <div class="w-full md:w-1/2 h-40">
              <app-text-area
                [control]="descriptionControl"
                label="Descripción"
                errorKey="description"
                placeholder="Descripción del ejercicio"
                [maxHeight]="100"
                appearance="outline"
              ></app-text-area>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-full md:w-1/2 flex items-cente">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Es Personalizada ? </mat-label>
                <mat-select formControlName="isCustom">
                  <mat-option [value]="true"> Si </mat-option>
                  <mat-option [value]="false"> No </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-4">
          <div class="flex justify-between">
            <app-title [title]="'Subrutinas'" [divider]="false"></app-title>
            <button
              appBtn
              color="primary"
              type="button"
              (click)="openAddSubRoutinesDialog()"
              class="h-12"
            >
              Agregar Subrutina
            </button>
          </div>
          <mat-divider></mat-divider>
          <div class="h-50 overflow-y-auto">
            <app-drag-and-drop-sorting
              [additionalInfo]="'day'"
              [list]="selectedSubroutines"
              (listEmitter)="handleList($event)"
            ></app-drag-and-drop-sorting>
          </div>
        </div>
      </form>
    }

    <div class="flex justify-end space-x-2 mt-4">
      <button appBtn color="secondary" (click)="goBack()">Cancelar</button>
      <button
        appBtn
        color="primary"
        [loader]="(loading$ | async)!"
        [animate]="true"
        (click)="save()"
        [disabled]="routineForm.invalid || (loading$ | async)"
      >
        {{ btnTitle }}
      </button>
    </div>
  </div>
</div>
