<div class="w-3/2 bg-white rounded-lg shadow-md p-8">
  @if (loading$ | async) {
    <app-loader></app-loader>
  } @else {
    <mat-dialog-content>
      <form [formGroup]="routineForm" class="space-y-4" (ngSubmit)="save()">
        <div class="flex flex-col justify-around">
          <div class="flex gap-4">
            <div class="w-full md:w-1/2">
              <input
                appInput
                label="Nombre"
                type="text"
                id="name"
                formControlName="name"
                class="mt-1 h-14 w-full border border-gray-300 rounded-md p-2 focus:border-primary-500 focus:ring-primary-500"
                placeholder="Nombre del ejercicio"
              />
            </div>

            <div class="w-full md:w-1/2 h-40">
              <textarea
                appInput
                id="description"
                label="Descripción"
                formControlName="description"
                class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:border-primary-500 focus:ring-primary-500"
                placeholder="Descripción del ejercicio"
              ></textarea>
            </div>
          </div>
          <div class="flex gap-4">
            <!-- <div class="w-full md:w-1/3">
              <label for="type" class="block text-sm font-medium text-gray-700"
                >Categoria</label
              >
              <select
                id="category"
                formControlName="category"
                class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:border-primary-500 focus:ring-primary-500"
              >
                <option value="">Seleccione tipo</option>
                <option
                  *ngFor="let option of categories"
                  [value]="option.value"
                >
                  {{ option.viewValue }}
                </option>
              </select>
            </div> -->

            <div class="w-full md:w-1/3">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let c of categories" [value]="c.value">
                    {{ c.viewValue | titlecase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-full md:w-1/3 flex items-cente">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Es Personalizada ? </mat-label>
                <mat-select formControlName="isCustom">
                  <mat-option [value]="true"> Si </mat-option>
                  <mat-option [value]="false"> No </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-full md:w-1/3">
              <input
                appInput
                label="Días"
                type="number"
                id="days"
                formControlName="days"
                class="mt-1 h-14 w-full border border-gray-300 rounded-md p-2 focus:border-primary-500 focus:ring-primary-500"
                placeholder="Cantidad de días Sub-Rutina"
              />
            </div>
          </div>
        </div>

        <button
          appBtn
          color="primary"
          type="button"
          (click)="openAddSubRoutinesDialog()"
          class="mt-4"
        >
          Agregar Subrutinas
        </button>
      </form>
    </mat-dialog-content>
  }
  <div class="flex justify-end space-x-2 mt-4">
    <button appBtn color="secondary" (click)="goBack()">Cancelar</button>
    <button
      appBtn
      color="primary"
      [loader]="(loading$ | async)!"
      [animate]="true"
      (click)="save()"
      [disabled]="routineForm.invalid || (loading$ | async)"
    >
      {{ btnTitle }}
    </button>
  </div>
  <!-- tabla para mostrar las subrutinas -->
  <app-table
    [displayedColumns]="displayedColumns"
    [data]="selectedSubroutines"
    [total]="selectedSubroutines.length"
    [loading]="false"
    (edit)="handleEditDay($event)"
    (delete)="deleteSubRoutine($event)"
  ></app-table>

  <div class="mt-6 bg-gray-100 rounded-lg p-4">
    <h3 class="text-lg font-semibold mb-4">Subrutinas por día</h3>

    <div
      *ngIf="selectedSubroutines.length > 0"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
    >
      <div
        *ngFor="let subroutine of selectedSubroutines; let i = index"
        class="bg-white border rounded-lg shadow-sm p-4"
      >
        <div class="flex justify-between items-center mb-2">
          <span class="font-bold text-primary-600">Día {{ i + 1 }}</span>
          <span class="text-sm text-gray-600">{{ subroutine.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- [disabled]="routineForm.invalid || (loading$ | async)" -->
</div>
