<div class="flex flex-col space-y-6 px-4 md:px-8">
  <span class="text-center text-5xl font-bold text-gray-900 mt-6 mb-4">
    {{ title }} 📝
  </span>
  <div class="bg-white rounded-lg shadow-lg p-6 md:p-8">
    <ng-container *ngIf="loading$ | async; else formContent">
      <app-loader></app-loader>
    </ng-container>
    <ng-template #formContent>
      <form [formGroup]="routineForm" class="space-y-6" (ngSubmit)="save()">
        <app-title [title]="'Información general'"></app-title>
        <div class="mt-4">
          <div class="flex flex-col md:flex-row gap-4">
            <div class="w-full md:w-1/2">
              <app-input
                [control]="nameControl"
                label="Nombre"
                type="text"
                errorKey="name"
                placeholder="Nombre de la rutina"
                appearance="outline"
              ></app-input>
            </div>
            <div class="w-full md:w-1/2">
              <app-text-area
                [control]="descriptionControl"
                label="Descripción"
                errorKey="description"
                placeholder="Descripción del ejercicio"
                [maxHeight]="100"
                appearance="outline"
              ></app-text-area>
            </div>
          </div>
          <div class="flex flex-col md:flex-row gap-4 mt-4">
            <div class="w-full md:w-1/2 flex items-center">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>¿Es Personalizada?</mat-label>
                <mat-select formControlName="isCustom">
                  <mat-option [value]="true">Sí</mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="w-full md:w-1/2 flex items-center">
              <mat-checkbox formControlName="isGeneral"
                >¿Es general?</mat-checkbox
              >
            </div>
          </div>
          <div *ngIf="isGeneralControl" class="mt-4">
            <mat-form-field appearance="outline" class="w-full md:w-1/2">
              <mat-label>Tipo de rutina</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{ type.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-6">
          <div class="flex justify-between items-center">
            <app-title [title]="'Subrutinas'" [divider]="false"></app-title>
            <button
              appBtn
              color="primary"
              type="button"
              (click)="openAddSubRoutinesDialog()"
              class="h-12 px-4"
            >
              Agregar Subrutina
            </button>
          </div>
          <mat-divider></mat-divider>
          <div class="h-50 overflow-y-auto">
            <app-drag-and-drop-sorting
              [additionalInfo]="'day'"
              [list]="selectedSubroutines"
              (listEmitter)="handleList($event)"
            ></app-drag-and-drop-sorting>
          </div>
        </div>
      </form>
    </ng-template>
    <div class="flex justify-end space-x-2 mt-6">
      <button appBtn color="secondary" (click)="goBack()">Cancelar</button>
      <button
        appBtn
        color="primary"
        [loader]="(loading$ | async)!"
        [animate]="true"
        type="submit"
        (click)="save()"
        [disabled]="routineForm.invalid || (loading$ | async)"
      >
        {{ btnTitle }}
      </button>
    </div>
  </div>
</div>
