<div
  class="mx-auto space-y-10 w-full max-w-md p-8 bg-white shadow-lg rounded-lg"
>
  <div class="space-y-4">
    <h1 class="text-center text-2xl font-bold text-neutral-900">
      STEEL PARADISE
    </h1>
    <p class="text-lg text-center text-neutral-700">
      Bienvenido, ingresa tus credenciales.
    </p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-10">
    <div class="space-y-6">
      <input
        appInput
        type="text"
        label="Email"
        placeholder="Ingresa tu email"
        formControlName="identifier"
      />
      <div class="space-y-2">
        <div class="relative">
          <button
            title="showPassword"
            type="button"
            (click)="showPassword = !showPassword"
            class="input-icon-right"
          >
            <i [ngClass]="showPassword ? 'ph-eye-slash' : 'ph-eye'"></i>
          </button>
          <input
            appInput
            [type]="showPassword ? 'text' : 'password'"
            label="Contraseña"
            placeholder="Ingresa tu contraseña"
            formControlName="password"
            autocomplete="password"
          />
        </div>

        <div class="w-full inline-flex justify-end">
          <a
            routerLink="/auth/forgot"
            class="text-link cursor-pointer"
            (click)="goToForgotPassword()"
            >Olvidaste tu contraseña?</a
          >
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center space-y-4">
      <button
        appBtn
        class="w-full btn-primary"
        type="submit"
        [loader]="(loading$ | async)!"
        [animate]="true"
        [disabled]="loginForm.invalid || (loading$ | async)"
      >
        <span>
          {{
            loading$ | async | conditionalText: "Cargando..." : "Ingresar"
          }}</span
        >
      </button>
      <button
        class="w-full bg-white border border-neutral-300 text-neutral-700 font-semibold py-3 rounded flex items-center justify-center hover:bg-neutral-100 transition-colors"
        type="button"
        (click)="loginWithGoogle()"
      >
        <img
          src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
          alt="Google Logo"
          class="w-5 h-5 mr-2"
        />
        Iniciar sesión con Google
      </button>
    </div>
    <div>
      <p class="text-center text-neutral-700">
        No tienes una cuenta?
        <a
          routerLink="/auth/register"
          class="text-link cursor-pointer"
          (click)="goToRegister()"
          >Regístrate</a
        >
      </p>
    </div>
  </form>
</div>
